<section class="about-us-section">
  <div class="about-us-wrap container">
    <h3 class="about-us-title for-desktop">About us</h3>
    <div class="about-us-descriptions-container">
      <div class="title-decsr-wrap">
        <h3 class="about-us-title for-mobile for-laptop">About us</h3>
        <ul class="descriptions-list">
          <li class="about-us-description">
            Welcome to our premium watch collection, where luxury and style meet
            functionality and precision. Our selection of timepieces embodies
            the very best in Swiss craftsmanship and engineering, ensuring that
            you'll always have a reliable and stylish accessory on your wrist.
          </li>
          <li class="about-us-description">
            At our premium watch collection, we believe that a watch is more
            than just a timekeeping device – it's a statement piece that
            reflects your personality and style. So why settle for anything less
            than the best? Browse our collection today and discover the perfect
            watch for you.
          </li>
        </ul>
      </div>

      <picture>
        <img class="about-us-gif" src="../img/about-us/watch-gif-mobile.gif" />
      </picture>
    </div>
  </div>
</section>
